.chat_item
  .message_form
    = @message
    .time_send
      = @time_send
  .image_form
    - @picURL = "http://stage.realync.com/images/noPhoto.jpeg" if @picURL == "/images/noPhoto.jpeg"
    %img.round.media-object{alt: "", src: "#{@sender.picURL}"}

