.chat_head
  %h6
    Chat with:
    #chat_members_container
      #chat_name
  %a{href: "#"}
    %img.delete_message(src="assets/delete_mess.png")
  -#%input.delete_message.button{ type: 'submit', value:'delete' }

#chat-item-container
.send_message_div
  %input.message{ type: 'text', placeholder: 'Type a message...'}
  %input.reply_message.button{ type: 'submit', value:'Send' }{:style => "margin-left:20px"}