- if @type == "invitation"
  .item{ 'data-item': @id }
  .tour_mess
    .ava_div
      %img.ava_image{alt: "", src: "#{@tourInfo.picURL}"}
    .name_text_div
      %h6
        Tour Request
    .text_div_tour
      = @start_date
      = @start_time
    .text_div_tour
      = @tourInfo.address
    %input.accept_tour.button{ type: 'submit', value:'Accept Tour' }
    .decline_tour
      %a{href: "#"}Decline Tour
- else if @type == "message"
  .item{ 'data-item': @id }
  - for i in @users
    - if @messages[0].sender == i.id
      - i.picURL = "http://stage.realync.com/images/noPhoto.jpeg" if i.picURL == "/images/noPhoto.jpeg"
      .ava_div
        %img.ava_image{alt: "", src: "#{i.picURL}"}
      .name_text_div
        %h6
          = i.name
      .text_div
        = @last_message