%form{action: "submit.html"}
  %h1 Register
  %h2 About you
  %div{"data-fields" => "title,name,birthday"}
  %h2 Login details
  %div{"data-fields" => "email,password,confirmPassword"}
  %input.btn.btn-primary.submit{type: "submit"}

