%script#agentProfileTemplate{ type:"text/html"}
  %form.profile-info{"data-remote" => "true"}
    .profile-header
      .large-8.columns
        .full-name
          %h6
            First name
          %h3
            %div{"data-fields" => "firstName"}
          %h6
            Last name
          %h3
            %div{"data-fields" => "lastName"}
          
      .large-4.columns
        .tip
          %span.icon-tip
          %h6
            Personalize your account by adding
            a profile picture and details about
            your search.
    .profile-settings#content-wrapper
      .large-6.columns
        %h6
          Zip code
          %div{"data-fields" => "zipcode"}
        %br/
        %h6
          Phone Number
          %div{"data-fields" => "phoneNumber"}

        #active_search
          %h6
            Display email ?
          %div{"data-fields" => "displayEmail"}
          #switch_content
            .switch

        .describe
          %div{"data-fields" => "description"}
        %input.button{type: "submit", value: 'Save Your Profile' }
      .large-4.columns
        .tip
          %span.icon-tip
          %h6
            Tip can be here...

