%script#clientProfileTemplate{ type:"text/html"}
  %form.profile-info{"data-remote" => "true"}
    .profile-header
      .large-8.columns
        .full-name
          %h6
            First name
          %h3
            %div{"data-fields" => "firstName"}
          %h6
            Last name
          %h3
            %div{"data-fields" => "lastName"}

      .large-4.columns
        .tip
          %span.icon-tip
          %h6
            Personalize your account by adding
            a profile picture and details about
            your search.
    .profile-settings#content-wrapper
      .large-6.columns
        %h3
          What are you looking for?
        #active_search
          %h6
            I'm actively searching
          %div{"data-fields" => "activelySearching"}
          #switch_content
            .switch

        %h6
          Searching
        %div{"data-fields" => "searchRadius"}
        %h6
          miles within
        %div{"data-fields" => "zipcode"}
        .slider-bedrooms
          .slider-info
            Number of bedrooms
            .value-num
              %div{"data-fields" => "bedCount"}
          .slider-range
            .range-slider{"data-slider" => "", "data-options" => "start: 0; end: 5;"}
              %span.range-slider-handle
              %span.range-slider-active-segment
              %input{type: "hidden"}/
        .slider-bathrooms
          .slider-info
            Number of bathrooms
            .value-num
              %div{"data-fields" => "bathCount"}
          .slider-range
            .range-slider{"data-slider" => "", "data-options" => "start: 0; end: 5;"}
              %span.range-slider-handle
              %span.range-slider-active-segment
              %input{type: "hidden"}/
        .slider-sqft
          .slider-info
            Square footage
            .value-num
              %div{"data-fields" => "sqft"} 
          .slider-range
            .range-slider{"data-slider" => "", "data-options" => "start: 1; end: 10000;"}
              %span.range-slider-handle
              %span.range-slider-active-segment
              %input{type: "hidden"}/

        %h6
          Price Range: $
        %div{"data-fields" => "priceMin"}
        -#%input{type: "text", placeholder: "Min"}
        %h6
          to $
        %div{"data-fields" => "priceMax"}
        -#%input{type: "text", placeholder: "Max"}

        .describe
          %div{"data-fields" => "description"}
          -#%input{type: "text", placeholder: "Describe What You're Looking For"}
        %input.button#submit_form{type: "submit", value: 'Save Your Profile' }
      .large-5.end.columns
        .tip_a
          %span.icon-tip
          %h6
            Use the sliders to indicate what
            you're searching for.
        .tip_b
          %span.icon-tip
          %h6
            You don't have to share with us, but
            we'd just like to know more about
            you and your perfect property.

