%script#formTemplate{ type:"text/html"}
  %form.sign-up{"data-remote" => "true"}
    %a{href: "/landing"}
      %img{src: 'assets/realync-logo.png'}

    .user-api-errors
    %br
    .or
      or
    %label.client{for: "client"}
      %p
        I'm an Client
    %label.agent{for: "agent"}
      %p
        I'm an Agent
    %br
    %br
    %div{"data-fields" => "firstName,lastName"}

    %div{"data-fields" => "isRealtor,zipcode,email,password,mobile"}
    %input.button.submit{type: "submit", value: 'Sign Up'}
    %h6
      By selecting 'Sign Up', you are agreeing to
      ReaLync`s 
      %a{href: '#'}Terms and Conditions
      %br
        Already have an account?
        %a{href: '#!/sign_in'}
          Sign in
