%script#paymentTemplate{ type:"text/html"}
  %form#braintree-payment-form.payment-method{"data-remote" => "true"}
    %img{src: 'assets/realync-logo.png'}
    %br
      .response_answer

    %h3
      Payment
    %h6
      %a#back_s{:href => '#'} Change subscription
    %br
    %br
    %br
    %br
    %br
    %div{"data-fields" => "plan,last_name,postal_code,number,cvv,month,year"}
    %input.button{type: "submit", value: 'Get Started' }
    %br

  -#%div
  -#  %form#braintree-payment-form{'data-remote' => 'true', action: "", method: "POST"}
  -#    %p
  -#      %label Holder
  -#      %input{name: "transaction[customer][first_name]", type: "text"}/
  -#    %p
  -#      %label Card Number
  -#      %input{autocomplete: "off", "data-encrypted-name" => "number", size: "20", type: "text"}/
  -#    %p
  -#      %label CVV
  -#      %input{autocomplete: "off", "data-encrypted-name" => "cvv", size: "4", type: "text"}/
  -#    %p
  -#      %label Expiration (MM/YYYY)
  -#      %input{name: "month", size: "2", type: "text"}/
  -#      \/
  -#      %input{name: "year", size: "4", type: "text"}/
  -#    %input#submit{type: "submit"}/

:javascript
  ////$('form#braintree-payment-form input').css('border', '1px solid black');
  //  var ajax_submit = function () {
  //
  //    form = $('#braintree-payment-form');
  //
  //    //$("#submit").attr("disabled", "disabled");
  //    console.log(form.serialize());
  //    //$.ajax({
  //    //   url: '/pages/pay',
  //    //   //url: 'http://stage.realync.com/user/startSubscription',
  //    //   type: 'POST',
  //    //   data: form.serialize(),
  //    //   success: function(data){
  //    //     console.log('Ok');
  //    //     console.log(data);
  //    //     form.parent().replaceWith(data);
  //    //   },
  //    //   error: function(data){
  //    //     console.log('Error');
  //    //     console.log(data);
  //    //   }
  //
  //
  //    //$.post(form.attr('action'), form.serialize(), function (data) {
  //    //
  //    //});
  //  }
  //
  //  var braintree = Braintree.create('MIIBCgKCAQEAu6M6WRkGJ9Y3BH1bNLH6oSVs69jfi1CzQ7t+5RsWIVuOlPK0c3hKO4PomzlAJoIu3OYM0hRKxA4MukP6Ub6HXCYAXZRe+8zICSEVuPViqAqfSlhD57LPHrhIMtG/ZTsMN62QteS7Yz0ceAt2Ab8C5psNQrE4dLhUBGnsxw93sEq46LoFUR0fbS9BH5RT+OWGJmW8GpROgNQnQtY3KcICv53ChlhY9MJ3z5QX6htNxQTFRUkqT8PadtqrsXoMmIm/AblkVPgq/FmWx+MYMxcpcQ96OWleoZGCb7DrtVNnlFwTozeqmchSg9kAJVHimXyRgfsIFeGo3M7BVoGvhXPs2QIDAQAB');
  //  braintree.onSubmitEncryptForm('braintree-payment-form', ajax_submit);

