- if @role == true
  .subscription-settings
    %form.selectSub{"data-remote" => "true"}
      .type-of-sub
        %img{src: "assets/pricing/or_circle.png"}
        %span.pull-left
          %input{ id:"monthly", name:"tour", type:"radio", checked: 'checked', value:"monthly"}
          %label.monthly{:for => "monthly" }    
            Monthly
        %span.pull-right{title: "Coming Soon"}  
          %input{ id:"annual",name:"tour", type:"radio", value:"annual", disabled: "true"}
          %label.annual{:for => "annual"}
            Annual
            .label.round.success
              Save 10%
    .clearfix
    .row
      .large-4.columns
        .subscription
          .basic-sub-img
            %h3
              Basic
          .price-wrap
            .price
              %h1
                %span 
                  $
                0
            .price-text
              30 day free trial
          .sub-description
            %p
              %b
                150
              tour minutes per month
            %p
              %b
                1
              gb total data storage
          %a#basic.button.expand{:href => '#'} Start Subscription
      .large-4.columns
        .subscription-center
          .plus-sub-img
            %h3
              Plus
          .price-wrap
            .price
              %h1
                %span 
                  $
                39.99
            .price-text
              Monthly
          .sub-description
            %p
              %b
                400
              tour minutes per month
            %p
              %b
                15
              gb total data storage
          %a#plus.button.expand{:href => '#'} Start Subscription
      .large-4.columns
        .subscription-right
          .premium-sub-img
            %h3
              Premium
          .price-wrap
            .price
              %h1
              %h1
                %span 
                  $
                89.99
            .price-text
              Monthly
          .sub-description
            %p
              %b
                Unlimited
              tour minutes per month
            %p
              %b
                30
              gb total data storage
          %a#premium.button.expand{:href => '#'} Start Subscription
  #change_payment_method.large-12.columns
    %h3
      Payment Method
    %h6
      You don't currently have a default payment method. Get started by adding one today.
    %a.button#payment_button
      Add New Payment Method
    .isCard
    .row
      .large-8.columns
  #block-payment
    #payment-settings-form