.select2-drop.select2-drop-multi{
  z-index: 11111;
}

img{
  image-rendering: optimizeQuality;
}

.image-search-list{
  width: 100px;
  height: 100px;
}
#message-container{
  .media {
    color: #797979;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    .media-heading {
      margin: 0 0 5px;
      display: block;

    }
    p {
      line-height: normal;
      -webkit-margin-before: 1em;
      -webkit-margin-after: 1em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
    }
    a{
      color: #444e67;
      text-decoration: none;
      outline: none;
    }
    margin-top: 15px;
    overflow: hidden;
    zoom: 1;

    .pull-left{
      margin-right: 10px;
      float: left!important;

      img.media-object {
        border-radius: 50%;
        -webkit-border-radius: 50%;
        height: 80px;
        width: 80px;
      }
    }
    .media-body {
      overflow: hidden;
      zoom: 1;

      h4 {
        font-size: 16px;
        color: #475168;
      }

    }
  }
}
#upcoming-container-client{
  display: none;
}
.card_container{
  background: white;
  width: 330px;
}

%img.edit_card{
  margin-top: -23px;
  float: left;
  width: 60px;

}
img.card_type{
  width: 60px;
  margin-top: -23px;
}
.info{
  padding-top: 20px;
  display: inline-block;
}
.isCard{
  padding-bottom: 60px;
}

.tour-minutes {
  margin: 20px;
  padding: 20px;
  h3{
    display: inline-block;
  }
  .remain-minutes-wrap {
    width: 100%;
    height: 35px;
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
    margin-top: 15px;
    .remain-minutes {
      width: 0;
      height: 100%;
      background: rgba(2,115,191,1);
      background: -moz-linear-gradient(left, rgba(2,115,191,1) 0%, rgba(30,160,206,1) 100%);
      background: -webkit-gradient(left top, right top, color-stop(0%, rgba(2,115,191,1)), color-stop(100%, rgba(30,160,206,1)));
      background: -webkit-linear-gradient(left, rgba(2,115,191,1) 0%, rgba(30,160,206,1) 100%);
      background: -o-linear-gradient(left, rgba(2,115,191,1) 0%, rgba(30,160,206,1) 100%);
      background: -ms-linear-gradient(left, rgba(2,115,191,1) 0%, rgba(30,160,206,1) 100%);
      background: linear-gradient(to right, rgba(2,115,191,1) 0%, rgba(30,160,206,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0273bf', endColorstr='#1ea0ce', GradientType=1 );
    }
  }

  #planSeconds {
    display: inline-block;
    float: right;
    margin-top: 10px;
    .used-seconds {
      color: #2ea5cb;
      font-weight: 600;
      font-size: 23px;
    }
  }
}