#livetour_wrapper {
  position: fixed; 
  width: 100%; 
  height: 100%; 
  top: 0px; 
  left: 0px; 
  background-color: rgba(0,0,0,0.6); 
  display: block;
  z-index: 22223;

  #video_section {
    position: relative;
    float: left;
    background-color: #000;
    width: 75%;
    height: 100%;
  }

  #right-bar-live-tour {
    position: relative;
    float: right;
    background-color: #fefefe;
    width: 25%;
    height: 100%;
    overflow: auto;
  }

  #navigator-bar {
    position: absolute;
    bottom: 50px;
    width: 100%;
    height: 50px;
  }

  #property_name {
    height: 70px;
    text-align: center;
    h1 {
      color: #fff;
    }
  }
}

#right-bar-live-tour {
  .property-info-wrap {
    .property-info {
      width: 100%;
      .header {
        padding: 10px 20px;
        position: relative;
        h4 {
          display: inline-block;
          color: #a2a2a2;
        }
      }

      .property-image {
        .property-image-v {
          height: 140px;
          background-size: 100% 100%;
          background-repeat: no-repeat;
        }
      }

      .property-counts {
        width: 100%;
        padding: 20px 0;
        background-color: #fafafa;
        text-align: center;

        .border {
          border: 1px solid #aaa;
          border-top: none;
          border-bottom: none;
        }

        span {
          width: 100%;
          height: 0;
          display: inline-block;
          color: #777;
          p {
            display: block; 
            text-transform: uppercase;
            color: #a6a6a6;
            font-size: 12px;
          }
        }
      }
    }

    .property-description {
      padding: 20px;
    }
  }

  .notes-wrap {
    padding: 20px;
    padding-top: 10px;
    overflow: auto;
    overflow-x: hidden;
    .header {
      position: fixed;
      top: 0;
      background-color: #fff;
      width: 20%;
      z-index: 2;
      padding: 10px;
      h4 {
        display: inline-block;
        color: #a2a2a2;
      }
    }

    .add-note {  
      background-color: #fefefe;
      position: fixed;
      bottom: 0;
      width: 22%;
      padding-top: 20px;

      input[type="text"] {
        width: 65%;
        display: inline-block;
        margin-right: 20px;
        background: transparent;
        border: none;
        border-bottom: 1px solid #a4a4a4;
        outline: none;
        box-shadow: none;
      }

      .button.send_note {
        padding: 14px 16px; 
      }
    }

    #notes {
      padding-bottom: 86px;
      padding-top: 50px;
    }
    .note_item {
      h6 {
        color: #949494;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      h6:first-child {
        color: #a4a4a4;
        font-size: 12px;
        margin: 0;
      }
      hr {
        margin: 10px 0;
      }
    }
  }

  .chat-wrap { 
    padding: 20px;
    padding-top: 10px;
    overflow: auto; 
    overflow-x: hidden;

    .header {
      position: fixed;
      top: 0;
      background-color: #fff;
      width: 20%;
      z-index: 2;
      padding: 10px;
      h4 {
        display: inline-block;
        color: #a2a2a2;
      }
    }

    .chatbody {
      padding-bottom: 86px;
      padding-top: 50px;
    }

    .chat-item {
      width: 100%;
      margin-top: 10px;
      .message-wrap {
        border-radius: 7px;
        margin-right: 4%;
        font-size: 11pt;
        color: #ffffff;
        display: inline-block;
        width: 75%;
        padding: 10px;
        border-bottom: 2px solid #f2f2f2;
        min-height: 80px;
        background: #0c78b7;
        position: relative;
        .message-body {
          text-overflow: ellipsis;
          overflow: hidden;
          display: block;
          padding-bottom: 27px;
        }

        .message-info {
          position: absolute;
          margin: 14px 0px;
          width: 90%;
          display: block;
          bottom: 0;
          font-size: 11px;
          color: #1ca7ce;
          .name {
            float: left;
            width: 80%;
          }

          .time {
            display: inline-block;
            float: right;
            font-size: 10pt;
            width: 20%;
            font-size: 11px;
            text-align: right;
          }
        }
      }
      .message-wrap::after {
        content: '';
        position: absolute;
        right: -17px;
        top: 12px;
        border: 10px solid transparent;
        border-left: 9px solid #0c78b7;
      }



      img.sender {
        position: absolute;
        display: inline-block;
        border-radius: 40px;
        height: 40px;
        width: 40px;
      }
    }

    .send_chat_message {  
      background-color: #fefefe;
      position: fixed;
      bottom: 0;
      width: 22%;
      padding-top: 20px;

      input[type="text"] {
        width: 65%;
        display: inline-block;
        margin-right: 20px;
        background: transparent;
        border: none;
        border-bottom: 1px solid #a4a4a4;
        outline: none;
        box-shadow: none;
      }

      .button.chatSendButton {
        padding: 14px 16px; 
      }
    }
  }
}

#navigator-bar {
  .toolbar {
    margin: 0 auto;
    width: 320px;
    height: 100%;
    position: relative;
    background-color: #fff;
    text-align: center;
    border-radius: 4px;
    .control-action {
      display: inline-block;
      width: 35px;

      div {
        margin: 10px 0;
        height: 30px;
        width: 30px;
        background-repeat: no-repeat;
        background-size: 25px;
        background-position: center;

        &:hover {
          cursor: pointer;
        }
      }
      .end_tour {
        background-image: url('toolbar/exit.png');
        &:hover, &.active-btn {
          background-image: url('toolbar/exit-hover.png');
        }
      }

      .mute-off {
        background-image: url('toolbar/mic.png');
        background-size: 20px;
        &:hover {
          background-image: url('toolbar/mic-hover.png');
        }
      }

      .mute-on {
        background-image: url('toolbar/mic-off.png');
        background-size: 25px;
        &:hover {
          background-image: url('toolbar/mic-off-hover.png');
        }
      }

      .audio-on {
        background-image: url('toolbar/audio.png');
        background-size: 17px;
        &:hover {
          background-image: url('toolbar/audio-hover.png');
        }
      }

      .audio-off {
        background-image: url('toolbar/audio-off.png');
        background-size: 24px;
        &:hover {
          background-image: url('toolbar/audio-off-hover.png');
        }
      }

      .notes {
        background-image: url('toolbar/notes.png');
        &:hover, &.active-btn {
          background-image: url('toolbar/notes-hover.png');
        }
      }

      .info {
        background-image: url('toolbar/property.png');
        &:hover, &.active-btn {
          background-image: url('toolbar/property-hover.png');
        }
      }

      .chat {
        background-image: url('toolbar/chat.png');
        &:hover {
          background-image: url('toolbar/chat-hover.png');
        }

        &.active-btn {
          background-image: url('toolbar/chat-active.png');
        }
      }
    }
    
    .left {
      float: left;
      margin-left: 6px;
    }

    .right {
      float: right;
      margin-right: 6px;
    }

    .screenshot {
      width: 65px;
      height: 65px;
      border-radius: 100px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      background-color: #008cba;
      div.take_photo {
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: 26px;
        background-position: center;
        background-image: url('toolbar/camera.png');
      }

      &:hover {
        background-color: #007095;
        cursor: pointer;
      }
    }
  }
}

.close_rightbar {
  position: fixed;
  z-index: 3;
  width: 22px;
  height: 21px;
  padding: 2px;
  border: 1px solid #aaa;
  border-radius: 22px;
  text-align: center;
  line-height: 16px;
  right: 40px;
  top: 20px;
}

.close_rightbar:hover {
  cursor: pointer;
  color: #008cba;
  border-color: #008cba;
}

#videoSection .client.clientAudio.OT_mirrored{
  width: 0px !important;
  height: 0px !important;
}
// #videoSection.false{
//   width: 100% !important;
//   height: 500px !important;
// }
#videoSection.true{
  width: 0 !important;
  height: 0 !important;
}
#videoSection.true .clientAudio.OT_mirrored{
  width: 100% !important;
  height: 500px !important;
}

#videoSection .clientAudio .OT_video-container{
  width: 0 !important;
  height: 0 !important;
  opacity: 1;
}

#videoSection .clientAudio  .OT_bar, #videoSection .clientAudio  .OT_opentok, #videoSection .clientAudio  .OT_mute{
  width: 0 !important;
  height: 0 !important;
  opacity: 1;
}


#videoSectionclient.true{
  .realtorVideo{
    width: 100%!important;
    height: 100%!important;
  }
}

#videoSectionclient.false{
    width: 0 !important;
    height: 0 !important;
    opacity: 0;
  .clientAudio{
//    display: none;
  }
}


#rate_tour{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 0;
  background: black;
  opacity: 0.5;
  z-index: 23000;
}
.rate_tour_container{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  display: none;
  background: rgba(255,255,255,0.9);
  border-radius: 8px;
  width: 280px;
  height: 200px;
  z-index: 1000000000000;
  .rate_tour_content {
    width: 100%;
    padding: 15px 12px;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    color: #777;
    h6 {
      font-weight: bold;
    }
  }

  .rate_tour_action {
    border-top: 1px solid #aaa;
    .button {
      width: 50%;
      padding-left: 25px;
      background: none;
      display: inline-block;
      margin: 0;
      &:hover {
        background-color: rgba(255,255,255,1);
      }
    }
  }

  input.do_not_rate {
    float: left;
    border-bottom-left-radius: 8px;
    border-right: 1px solid #aaa;
    color: #222222;
  }

  input.add_rate {
    border-bottom-right-radius: 8px;
    color: #777;
  }

  input[name="rating"] {
    display: none;
    position:absolute;
    top: -2em;
    clip:rect(0,0,0,0);
  }

  .score {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    border: 0;
    font-size: 0;
    margin-bottom: 15px;
  }

  .score label {
    margin: 0;
    padding: 0;
    font-size: 32px; font-size: 2rem;
    line-height: 32px; line-height: 2rem;
    display: inline-block;
    position: relative;
    text-align: center;
    width: 1.2em;
    height: 1em;
    overflow: hidden;
    text-indent: 100%;
  }
  .score label:before {
     content: "☆";
     position: absolute;
     top: 0; left: 0; right: 0; bottom: 0;
     text-indent: 0;
     line-height: 1em;
     color: #aaa;
  }
  .score label:hover:before,
  .score label:hover ~ label:before,
  .score input:checked ~ label:before {
     content: "★";
     color: #ffbb04;
  }
  .score label:active {
    position: relative;
    top: 1px;
  }
}