#messages_form{
  #chat-item-container {
//    overflow-y: scroll;
//    height: 340px;
  }
  .chat_head {
    padding-top: 30px;
    padding-bottom: 30px;
    h6 {
      display: inline-block;
      width: 85%;
    }
    h1 {
      display: inline-block;
    }

    a {
      width: 40px;
      float: right;
      margin-top: 15px;
      display: inline-block;
      margin-right: 58px;
    }
  }
  .search_list{
    display: none;
    width: 400px;
    height: 150px;
    border: 1px solid black;
    ul li{
      cursor: pointer;
    }
  }

  input[type="text"] {
    background: transparent;
    border: none;
    /*border-bottom: 1px solid #aaa;*/
    color: #aaa;
    font-size: 100%;
    -webkit-box-shadow: 0 0 0 0;
    -moz-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
    width: 70%;
    display: inline-block;
  }

  .select2-container{
    border-bottom: 1px solid;
    width: 490px;
  }

  .message{
    border-bottom: 1px solid #aaa !important;
    margin-bottom: 0;
  }

  input.send_message.button {
    display: inline-block;
    margin-left: 4%;

  }
  .send_message_div {
    display: inline-block;
    width: 100%;
    margin-top: 30px;
  }

}

#messages {
  .ava_div{
    display: inline-block;
    margin-top: 25px;

  }
  .name_text_div {
    display: inline-block;
    margin-left: 25px;
    margin-top: 20px;
    position: absolute;
    color: #7d7d7d;

    h6 {
      display: inline-block;
      text-align: left;
      font-weight: 700;
    }
    .text_div {
      text-align: left;
      font-size: 11pt;
      width: 220px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .text_div_tour {
      text-align: left;
      font-size: 11pt;
    }
  }
  .minAgo {
    display: inline-block;
    float: right;
    font-size: 8pt;
    font-weight: 700;
    margin-top: 10px;
  }
  img.round {
    z-index: 10;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    margin-left: 10px;
  }

  .tour_mess {

  }

}

#messages_list.columns.large-4 {
  padding-left: 0;
  padding-right: 0;
}

#messages_list {
  .active {
    background-color: #fafafa;
    border-right: 2px solid #1384c1;
  }
  #message_list {
//    #messages {
//      overflow-y: scroll;
//      height: 450px;
//    }
  }
  background: #ffffff;
  padding-top: 40px;
  .inbox {
    width: 100%;
    padding: 0px 20px;
    padding-bottom: 20px;
    display: inline-block;
    .button-transparent {
      float: right;
    }
    h2 {
      display: inline-block;
    }
  }

}
.messages_list_in {
  padding: 0px 20px;
  min-height: 100px;
  border-top: 1px solid #9e9e9e;
  position: relative;
}
.message-item{
  cursor: pointer;
  padding-bottom: 15px;
}
.tour-request {
  h2 {
    margin-top: 5%;
    margin-left: 1%;
  }
}
.request_container{
  margin-top: 7%;
  width: 100%;
  img {
    width: 100%;
    height:315px;
  }
  img.round {
    border-radius: 100px;
    width: 35px;
    height: 35px;
  }

  .accept_decline{
    background: #f9f9f9;
    padding-left: 20px;
    padding-top: 20px;
    border-top: 2px solid #f5f5f5;
  }
  .details_tour {
    background: white;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    .hours{
      color: #1ca5c9;
    }
  }
  .button-transparent {
    height: 51px;
    width: 150px;
    border-radius: 0;
    margin-left: 20px;
  }
  .large-8.columns, .large-4.columns {
    padding: 0;
    margin: 0;
  }

}
#declined-form {
  display: none;
  h3 {
    margin-top: 5%;
    margin-left: 1%;
  }
}
.chat_item {
  margin-left: 2%;
  padding-bottom: 4%;
  .image_form {
    display: inline-block;
    img.round {
      border-radius: 100px;
      width: 50px;
      height: 50px;
    }
  }

  .message_form {
    border-radius: 6px;
    margin-right: 4%;
    font-size: 11pt;
    color: #ffffff;
    display: inline-block;
    width: 80%;
    padding: 2%;
    border-bottom: 2px solid #f2f2f2;
    min-height: 80px;
    background: #0c78b7;
    position: relative;
    .time_send {
      font-size: 10pt;
      width: 50px;
      float: right;
      margin-top: 40px;
    }
  }
  .message_form::after {
    content: '';
    position: absolute;
    right: -19px;
    top: 12px;
    border: 10px solid transparent;
    border-left: 9px solid #0c78b7;
  }
}
.chat_item_right {
  margin-left: 2%;
  padding-bottom: 4%;
  .image_form {
    display: inline-block;
    img.round {
      border-radius: 100px;
      width: 50px;
      height: 50px;
    }
  }

  .message_form {
    border-radius: 6px;
    margin-left: 3%;
    font-size: 11pt;
    display: inline-block;
    width: 80%;
    padding: 2%;
    border-bottom: 2px solid #f2f2f2;
    min-height: 80px;
    background: white;
    position: relative;
    .time_send {
      font-size: 10pt;
      width: 50px;
      float: right;
      margin-top: 40px;
    }
  }
  .message_form::before {
    content: '';
    position: absolute;
    left: -19px;
    top: 12px;
    border: 10px solid transparent;
    border-right: 9px solid #FFFFFF;
  }
}
input.user_search {
//  position: fixed;
}


#sidebar-right-bb {
  .message_preview_list {
    .messages_list_in_dashboard {
      padding: 6% 6% 0 6%;
      min-height: 100px;
      background: white;
      border-bottom: 1px solid gainsboro;
      border-top: 1px solid gainsboro;
      img.ava_image {
        width: 35px;
        height: 35px;
        border-radius: 100px;
      }
      .name_text_div {
        position: relative;
        display: inline-block;
        margin-left: 20px;
        h6 {
          font-weight: 700;
        }
      }
      .ava_div {
        display: inline-block;
      }

      .text_div {
        margin-top: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .text_div_tour {
        margin-top: 10px;
      }

      .accept_tour.button {
        margin-top: 10px;
        border-radius: 5px;
        padding: 6%;
        display: inline-block;
      }
      .decline_tour {
        margin-left: 2%;
        display: inline-block;
        a {
          color: inherit;
          text-decoration: underline;
        }
      }

    }
  }
}

.new_msg_badge {
  display: inline-block;
  width: 11px;
  height: 11px;
  border-radius: 11px;
  background-color: #d48700;
}

.chat_members{
  max-width: 101px;
  overflow: hidden;
  text-overflow: ellipsis;
  background: #0c78b7;
  opacity: 0.7;
  color: white;
  white-space: nowrap;
  padding: 3px;
  border-radius: 3px;
  display: inline-block;
  margin: 1px;
}

#chat_members_container{
  width: 95%;
}
