#switch_content {
	width: 60px;
  height: 5px;
  display: inline-block;
  float: right;
  margin-top: 5px;
  border-radius: 3px;

	input[value="true"]+label{
    background: url('checkbox_check.png') #1dcb9a no-repeat;
	  background-position: center;
  }

	input[value="false"]+label{
    background: url('checkbox_uncheck.png') #38414e no-repeat;
		background-position: center;
	}

  .switch {
    border-radius: 2px;
    height: 27px;
  }
}

div[data-fields="activelySearching"], div[data-fields="displayEmail"] {
	display: none;
}

div[data-fields="searchRadius"], div[data-fields="zipcode"],
div[data-fields="priceMin"], div[data-fields="priceMax"],
div[data-fields="phoneNumber"] {
    display: inline-block;
  # padding: 1%;
   # display: inline;
}

div[data-error] {
   # margin-top: -24px;
  # margin-left: 130px;
  font-size: 12px;
  color: #ff4040;
  display: inline;
}

.profile-photo {

  form {
    margin: 0;
    margin-left: 5px;
    margin-top: 25px;
    position: relative;
  }
  .photo {
    margin-bottom: 30px;

    .photo-width {
      width: 120px;
      display: inline-block;
    }

    #files {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 200px;

      canvas {
        border-radius: 120px;
      }
    }

    img {
      border-radius: 100px;
      width: 120px;
      height: 120px;
      image-rendering: optimizeSpeed;
    }
  }

  #fileupload, #progress, #files span, #files button {
    display: none;
  }
}

form.profile-info {
  width: 100%;
    
    .profile-header {
      width: 100%;
      // height: 50%;
      min-height: 340px;
      background-color: #38424e;
      color: #fff;
      padding: 30px 10px;
      margin-bottom: 30px;

      input[type="text"] {
        display: inline-block;
        background: transparent;
        padding-bottom: 3px;
        width: 80%;
        border: none;
        border-bottom: 1px solid #aaa;
        color: #aaa;
        font-size: 90%;
        -webkit-box-shadow: 0 0 0 0;
        -moz-box-shadow: 0 0 0 0;
        box-shadow: 0 0 0 0;
      }

      .full-name {
        h3, h6 {
          color: #fff;
        }
  
        h6 {
          text-transform: uppercase;
          margin-bottom: -5px;
          font-size: 12px;
        }
      }
         
      .tip {
        margin-left: -35px;
        padding-top: 45px;

        span.icon-tip {
          margin-top: 10px;
          margin-left: 17px;
          height: 80px;
          float: left;
        }
       
        h6 {
          width: 80%;
          color: #fff;
          height: 155px;
          padding: 5px;
          font-size: 12px;
          font-weight: 200;
          // padding-left: 50px;
          // float: left;
          text-align: justify;
        }
      }
    }

    .profile-settings {

      // input[placeholder] {
      //   font-style: normal;
      // }

      #active_search {
        width: 100%;
        background-color: #fff;
        padding: 10px;
        margin: 30px 0;
        -webkit-box-shadow: 0 8px 6px -6px #aaa;
       -moz-box-shadow: 0 8px 6px -6px #aaa;
            box-shadow: 0 8px 6px -6px #aaa;
        // padding-top: 5px;
        h6 {
          color: #333;
          margin-top: 6px;
        }
      }

      h6 {
        margin-top: 0;
        color: #222;
        display: inline-block;
      }
      input[type="text"] {
        display: inline-block;
        background: transparent;
        padding-bottom: 3px;
        width: 110px;;
        border: none;
        border-bottom: 1px solid #aaa;
        color: #777;
        font-size: 90%;
        -webkit-box-shadow: 0 0 0 0;
        -moz-box-shadow: 0 0 0 0;
        box-shadow: 0 0 0 0;
      }
      input[type="number"] {
        width: 60px;
        text-align: center;
      }
      .describe input[type="text"] {
        width: 100%;
        margin-top: 20px;

      }
      .slider-bedrooms, .slider-bathrooms, .slider-sqft  {
        padding: 15px 0;
        text-transform: uppercase;
        text-align: left;
        font-size: 12px;
        color: #444;
        
        .value-num {
          display: inline-block; 
          float: right;
          margin-top: -13px;
          // width: 10px;


          input[type="text"] {
            text-align: right;
            border: none;
            padding: 0;
            margin: 0;
            color: #222;
            font-style: normal;
            font-size: 14px;
          }
        }

        .range-slider {
          border-radius: 10px;
          background-color: #18a6d3;

          .range-slider-handle {
            margin-top: -3px;
            width: 28px;
            height: 28px;
            border-radius: 14px;
            background-color: #fff;
            box-shadow: 0 0 3px rgba(0,0,0,0.5);
          }

          .range-slider-active-segment {
            background-color: #d7d7d7;
            border-radius: 10px;
          }
        }
        
        input[type="number"] {
          width: 100%;
        }
      }

    .tip_a, .tip_b {
      // margin-left: -25px;
      padding-top: 45px;

      span.icon-tip {
        margin-top: 10px;
        margin-left: 17px;
        height: 40px;
        float: left;
      }
      
      h6 {
        width: 77%;
        color: #444;
        height: 155px;
        padding: 5px;
        // font-size: 12px;
        font-weight: 200;
        // padding-left: 50px;
        // float: left;
        text-align: justify;
      }
    }

    .tip_a {
      margin-top: 105px;
    }

    .tip_b {
      margin-top: 150px;
    }
  }
}

//===========Agent============
.agent_profile_header {
  position: relative;
  background: url("/assets/map_agent_bg.png") no-repeat;
  background-size: 110% 110%;
  width: 100%;
  height: 100%;
  padding: 55px 10px;
  .opa{
    background-color: black;
    top:0;
    left: 0;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  img.location {
    height: 20px;
  }

  .left{
    width: 50%;
    float: left;
  }

  img.speciall_div{
    position: relative;
    margin-top: 15%;
    margin-left: 4%;
    height: 50px;
  }

  .newclass{
    padding: 5% 30% 0 30%;
    text-align: center;
    .round {
      border: 1px solid white;
      border-radius: 100px;
      height: 50px;
    }
    h2 {
      font-weight: normal;
      color: white;
    }
    h6 {
      color: #ffffff;
    }
  }
}
span.label {
  border-radius: 200px;
  background: #1ccc9a;
  position: absolute;
  margin: 15px 10px 10px 10px;
}
.prop_about {
  background-color: #f5f5f5;
  padding-top: 5%;
  h3 {
    padding-bottom: 20px;
    margin-left: 24px;
  }
}
.agent_profile_info {
  h3 {
    margin-left: 0;
  }
//  padding-top: 2%;
//  width: 100%;

  .about_me {
    color: #cacaca;
    h6 {
      text-transform: uppercase;
    }
    .phone {
      padding-bottom: 20px;
      color: #6e6e6e;
    }
    .email {
      color: #6e6e6e;
    }
  }

  .properties-foto{
    position: relative;
    width: 80%;
    height: 100%;
    min-width: 200px;
    min-height: 140px;
    border: 1px solid #e9e9e9;

    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;

  }

  .special_div{
    position: relative;
    margin-top: 50px;
    margin-left: 24px;
    height: 45px;

  }
  .properties-foto:hover .properties-block {
    display: block;
  }

  .properties-block{

    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    position: absolute;
    top:0;
    left: 0;
    display: none;

  }

  .properties-info {
    width: 80%;
    height: 100%;
    padding-top: 25px;
    background-color: #fff;
    text-align: center;
    border: 1px solid #e9e9e9;

    p {
      font-size: 8pt;
      color: #b6b6b6;
    }

    h6 {
      color: #303030;
      text-align: center;
      padding: 0 40px 10px 40px;
    }

    a {
      margin-bottom: 0;
    }
  }

  .properties-vote{
    width: 80%;
    height: 100%;
    border: 1px solid #e9e9e9;
    text-align: center;
    background-color: #fafafa;
    text-transform: uppercase;
    padding: 15px 20px 10px 20px;
    .vote{
      padding-bottom: 5px;
      color: #a8a8a8;
      font-size: 10px;
    }
    .border{
      border-right : 1px solid #e9e9e9;
    }
    h5{

      margin-bottom: 0;
    }
  }
}

.client_profile_like_property {
  .lleft{
    width: 50%;
    float: left;
  }
  .rright{
    text-align: right;
    //position: relative;
    width: 50%;
    float: right;
  }
  img.speciall_div{
    position: relative;
    margin-top: 15%;
    margin-left: 4%;
    height: 50px;
  }

  .newclass{
    text-align: center;
    padding-top: 15px;
  }

  h1{
    color: #fff;
    text-align: center;
  }

  .view_properties-vote{
    //width: 70%;
    height: 100%;
    text-align: center;
    text-transform: uppercase;
    padding: 13% 0 0 0;
    color: #adadad;
    font-size: 10pt;
    //float: right;

    h5{

      color: #fff;
      font-weight: 600;
    }
  }
}

.client_info {
  .dashboard-tours .dashboard-tours-in .image_tours img {
    height: 236px;
  }
  h3 {
    margin-left: 0;
  }
  .my-agent-blue{
    width: 90%;
    height: 100%;
    min-width: 200px;
    min-height: 80px;
    background-color: #1ca5c9;
  }

  .round_img {
    z-index: 10;
    position: absolute;
    border-radius: 100px;
    width: 80px;
    height: 80px;
    margin-top: -50px;
    margin-left: 29%;
    //border: 3px solid green;
    //box-shadow: 0 0 7px #666;
  }

  .my-agent {
    //display: none;
    width: 90%;
    height: 100%;
    // padding-bottom: 0;
    background-color: #fff;
    text-align: center;
    margin-bottom: 30px;

    h4 {
      font-weight: 500;
      padding: 25px;
      padding-top: 60px;
      padding-bottom: 0;
    }

    hr {
      //border-bottom: 2px solid;
      margin: 0 auto;
      width: 40px;
      padding-bottom: 20px;
    }

    p {
      // padding: 35px;
      color: #b6b6b6;
    }

    h6 {
      color: #b6b6b6;
      padding-bottom: 10px;
    }

    a {
      margin-bottom: 0;
    }
  }
  h3 {
    padding-bottom: 20px;
  }
  .without_tours {
    display: none;
  }
  h6 {
    font-size: 11pt;
    color: #adaead;
  }
  .button {
    border-radius: 10px;
    padding: 3%;
  }
}
