#property {
  .property-address {
    margin: 0;
    .title {
      font-size: 11px;
      text-transform: uppercase;
      color: #ddd;
      margin-bottom: -18px;
      font-weight: bold;
    }
  }

  #property-info {
    margin-top: 20px;
    background-color: #f5f5f5;

    .title {
      div[data-fields] {
        width: 70% !important;
        margin: 0 !important;
      }

      div[data-fields="description"] {
        width: 88% !important;
      }

      span {
        font-size: 11px;
        text-transform: uppercase;
        color: #999;
        margin-bottom: -8px;
        font-weight: bold;
      }
    }
    .title.desc {
      width: 88%;
    }

    .new_prop_info>div {
      display: inline-block;
    }
    .new_prop_info {
      margin-bottom: 30px;

      div[data-fields] {
        width: 20%;
      }

      div[data-fields="bathCount"], div[data-fields="sqft"] {
        margin-left: 25px;
      }

      input[type="text"] {
        width: 100%;
        margin-right: 15px;
        border: none;
        display: inline-block;
        background: transparent;
        border: none;
        border-bottom: 1px solid #a9a9a9;
        color: #222;
        font-size: 90%;
        -webkit-box-shadow: 0 0 0 0;
        -moz-box-shadow: 0 0 0 0;
        box-shadow: 0 0 0 0;
      }
      div[data-fields="description"] {
        width: 88%;
      }

      input[name="description"] {
        width: 88%;
        display: block;
      }

      input[placeholder] {
        font-style: normal;
        padding: 8px 0;
      }

      input[type="text"]:focus {
        outline: none;
      }

      input[type="text"]#description {
        width: 340px;
      }
    }

    .new_prop_video {
      margin-bottom: 30px;
      margin-top: 15px;

      .button {
        padding: 15px;
        width: 130px;
      }

      img.upload_video {
        width: 140px;
      }
    }

    .tip-desc, .tip-vid {
      clear: both;
      margin-left: -35px;
      padding-top: 45px;
      width: 100%;

      span.icon-tip {
        margin-top: 10px;
        margin-left: 17px;
        height: 80px;
      }

      h6 {
        width: 106%;
        color: #a2a2a2;
        height: 80px;
        padding: 5px;
        // padding-left: 50px;
        text-align: justify;
      }
    }

    .tip-desc {
      margin-top: 50px;
    }

  }

  img.upload_cover_img{
    margin-top: 30px; 
    width: 190px;
    opacity: 0.6;
  }

  img.upload_cover_img:hover {
    opacity: 1;
  }

  .delete-this-property {
    margin: 15px;
    padding: 10px 20px;
    background-color: #e5e5e5;
    color: #999;
    a {
      color: #999;
      text-decoration: underline;
    }

    a:hover {
      color: #008cba;
    }
  }
}

#properties {
  h2.prop-head {
    color: #555;
    float: left;
  }

  .properties-links {
    text-align: center;
    text-transform: uppercase;
    font-size: 8pt;
    height: 100px;
    line-height: 60px;
  }

  a.add_new_prop {
    float: right;
    margin-top: 10px;
    font-size: 14px;
  }
}

.property-container {
  width: 250px;
  margin: 0 auto;
  margin-bottom: 30px;
  .properties-foto{
    position: relative;
    width: 100%;
    height: 100%;
    // width: 250px;
    // height: 140px;
    border: 1px solid #e9e9e9;

    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;

    img.thumbnail {
      height: 140px;
      width: 100%;
    }

  }

  .properties-foto:hover .properties-block {
    display: block;
  }

  .properties-block{
    line-height: 140px;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    position: absolute;
    top:0;
    left: 0;
    display: none;  

    a {
      margin-left: 24px;
      .action_div{
        opacity: 0.6;
        position: relative;
        height: 45px;
        image-rendering: optimizeQuality;
      }
    }

    .action_div:hover {
      opacity: 1;
    }
  }

  .properties-info {
    width: 100%;
    height: 100px;
    padding-top: 25px;
    background-color: #fff;
    text-align: center;
    border: 1px solid #e9e9e9;

    p {
      font-size: 8pt;
      color: #b6b6b6;
    }

    h6 {
      color: #303030;
      text-align: center;
      padding: 0 10px 10px;
      width: 100%;
    }

    a {
      margin-bottom: 0;
    }
  }

  .properties-vote{
    width: 100%;
    height: 100%;
    border: 1px solid #e9e9e9;
    text-align: center;
    background-color: #fafafa;
    text-transform: uppercase;
    padding: 15px 20px 10px 20px;
    
    .vote{
      padding-bottom: 5px;
      color: #a8a8a8;
      font-size: 10px;        
    }

    .border{
        border-right : 1px solid #e9e9e9;
    }

    h5{
      margin-bottom: 0;
    }
  }
}

//===========VIEW PROPERTY=========

.view_property_wrap_header {
  background-color: #38424e;
  height: 400px;
  .cover-photo {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    max-height: 400px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }  
  .opacity-block{
    background-color: #222;
    top:0;
    left: 0;
    opacity: 0.7;
    width: 100%;
    height: 400px;
    position: absolute;
    z-index: 3;
  }
  .view_property_header {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 55px 10px;
    z-index: 5;

    .prop-actions{
      width: 50%;
      float: left;
      height: 50px;
      margin-top: 70px;
      #request_tour {
        .button .button-transparent-white {
          width: 164px;
          height: 50px;
        }
      }
    }
    .prop-counts{
      text-align: right;
      //position: relative;
      width: 50%;
      float: right;

      .counts {
        margin-top: 67px; 
        .count-bed, .count-bath, .count-sqft {
          display: inline-block;
          text-transform: uppercase;
          margin: 0 20px;
          text-align: center;
          font-size: 11px;
          h5 {
            color: #fff;
          }
        }
      }
    }

    img.speciall_div{
      position: relative;
//      margin-top: 15%;
      margin-left: 4%;
      height: 50px;
      opacity: 0.6;
    }

    img.speciall_div:hover {
      opacity: 1;
    }

    .newclass{
      text-align: center;
      padding-top: 15px;
    }

    h1{
      color: #fff;
      text-align: center;
    }

    .view_properties-vote{
      //width: 70%;
      height: 100%;
      text-align: center;
      text-transform: uppercase;
      padding: 13% 0 0 0;
      color: #adadad;
      font-size: 10pt;
      //float: right;

      h5{

        color: #fff;
        font-weight: 600;
      }
    }
  }
}

.property_info {
  margin-top: 5%;
  .description {
    margin-top: 2%;
    line-height: 30px;
    font-weight: inherit;
  }

  .no-tour-scheduled {
    margin-bottom: 20px;
  }

  .share_property {
    margin-top: 10%;
    color: black;

    h5{
      font-weight: 400;
    }

    img{
      margin-left: 4%;
      height: 55px;
    }

  }

    .view_property_attendees{
      width: 100%;
      height: 100%;
      min-width: 200px;
      min-height: 90px;
      background-color: #fafafa;
      padding: 30px 25px 30px 25px;
      margin-bottom: 20px;
      border-bottom: 1px solid #e9e9e9;
        .round{
          margin-left: 5px;
          height: 40px;
          width: 40px;
          border-radius: 100px;
        }
        .date_and_time {
          float: right;
          margin-top: -2%;
          .time {
            color: #1ca5c9;
          }
          .date {
            text-transform: uppercase;
            font-size: 10pt;
          }

          img.view_tour {
            width: 110px;
            //margin-left: 25%;
            //margin-top: 65%;
          }

        }
    }

    .schedule_tour {
      margin-bottom: 50px;
    }

}

//===========EDIT PROPERTY=========

.edit_property_header {
  position: relative;
  background: url("/assets/property2.png") no-repeat;
  background-size: 110% 110%;
  width: 100%;
  padding: 55px 10px;
  .opa{
    background-color: black;
    top:0;
    left: 0;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  img.edit_cover_photo {
    width: 40%;
    padding-right: 20px;
  }

  img.delete {
    width: 9%;
  }

  form.edit_property {
    margin: 0;
  }

  input[placeholder] {
    font-size: 28px;
    font-style: normal;
    padding-left: 0;
  }
  .text{
    position: absolute;
    text-transform: uppercase;
    margin-top: -3%;
    font-size: 10pt;
    font-weight: 700;
  }
  input[type="text"] {
    width: 100%;
    margin: 55px 0;
  }

  input[type="text"]#zipcode {
    width: 150px;
  }

  .save-change {
    float: right;
    margin-bottom: 15px;
  }

  .tip {
    clear: both;
    margin-left: -35px;
    padding-top: 55px;
    width: 100%;

    span.icon-tip {
      margin-top: 10px;
      margin-left: 17px;
      height: 105px;
    }

    h6 {
      width: 106%;
      color: #fff;
      height: 105px;
      padding: 5px;
      text-align: justify;
    }
  }
}

.edit_property_info {
  margin-top: 20px;
  padding-bottom: 30px;

  form.edit_prop_info {
    margin: 0;
    margin-bottom: 40px;

    .text{
      position: absolute;
      display: inline-block;
      text-transform: uppercase;
      margin-top: 3%;
      font-size: 8pt;
      font-weight: 700;
    }

    input[type="text"] {
      width: 25%;
      margin-right: 15px;
      margin-top: 6%;
      border: none;
      display: inline-block;
      background: transparent;
      border-bottom: 1px solid #a9a9a9;
      font-size: 90%;
      -webkit-box-shadow: 0 0 0 0;
      -moz-box-shadow: 0 0 0 0;
      box-shadow: 0 0 0 0;
    }

    input[placeholder] {
      font-style: normal;
      padding: 8px 0;
    }

    input[type="text"]:focus {
      outline: none;
    }
    .description_text{
      position: absolute;
      text-transform: uppercase;
      margin-top: 3%;
      font-size: 8pt;
      font-weight: 700;
    }
    input[type="text"]#description {
      width: 414px;
    }
  }

  .edit_prop_video {
    margin-bottom: 30px;
    margin-top: 15px;
    a{
      position: absolute;
      //float: right;

    }
    img.upload_video {
      width: 140px;
      margin-left: 25%;
      margin-top: 20%;
    }
    img.remove_video {
      width: 140px;
      margin-left: 25%;
      margin-top: 65%;
    }
  }

  .tip-desc, .tip-vid {
    clear: both;
    margin-left: -35px;
    padding-top: 45px;
    width: 100%;

    span.icon-tip {
      margin-top: 10px;
      margin-left: 17px;
      height: 80px;
    }

    h6 {
      width: 106%;
      color: #a2a2a2;
      height: 80px;
      padding: 5px;
      // padding-left: 50px;
      text-align: justify;
    }
  }

  .tip-desc {
    margin-top: 90px;
  }

  .edit_prop_images {
    margin-bottom: 30px;

    img {
      width: 100%;
      margin-bottom: 10px;
    }

    img.upload {
      width: 60%;
    }

    .upload_image {
      margin-top: 25px;
      text-align: center;

      p {

        font-size: 12px;
      }
    }
  }
}
.edit_delete{
  width: 100%;
  height: 100%;
  background-color: #e4e4e4;
  margin-top: 5%;
  padding: 17px 0 10px 20px;
  font-size: 11pt;
  a{
    text-decoration: underline;
    color: inherit;
  }
}

//=============NEW PROPERTY==============

#property_cover_image {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  max-height: 400px;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  canvas {
    width: 100%;
    height: 400px;
  }

  img {
    width: 100%;
    height: 400px;
  }
}

.opacity-block {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 400px;
  background-color: #222;
  opacity: 0.7;
}

#prop-header-pos {
  position: relative;
  padding: 50px 20px;
  z-index: 5;

  label.cover_image_upload, label.cover_image_update {
    display: inline-block;
    width: 190px;
  }

  label.cover_image_update {
    display: none;
  }
}

.new_property_header.large-12.columns {
  padding: 0;
}

.container-property {
  #fileupload, #progress, #property_cover_image span, #property_cover_image button {
    display: none;
  }

  #multiple_upload, #multifiles span, #multifiles button {
    display: none;
  } 
  .multi-image-wrap {
    position: relative;
    border: 1px solid #bbb;
    width: 210px;
    height: 140px;
    overflow: hidden;

    canvas {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
    }

    .image-view {
      width: 100%;
      height: 100%;
      background-repeat: none;
    }

    .progress {
      position: absolute;
      top: 0px;
      z-index: 1000;
      width: 0;
      height: 35px;
      padding: 4px 0;
      border: none;
      background-color: #008cba;
      color: #fff;
      text-align: center;

    }
  }

  .cover_image_wrap {
    height: 400px;
  }
  label.cover_image_update {
    display: none;
  }

  img.cover_image_remove {
    display: none;
    width: 54px;
    margin-top: 30px;
    margin-left: 8px;
    opacity: 0.6;
    image-rendering: optimizeQuality;
  }

  img.cover_image_remove:hover {
    opacity: 1;
    cursor: pointer;
  }
}

#new_property {
  width: 100%;

  input[type="text"] {
    // width: 60%;
    // // margin-right: 15px;
    border: none;
    display: inline-block;
    background: transparent;
    border: none;
    border-bottom: 1px solid #a9a9a9;
    color: #ffffff;
    font-size: 90%;
    -webkit-box-shadow: 0 0 0 0;
    -moz-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
  }
  .new_property_header {
    background-color: #38424e;
    // width: 100%;
    padding: 0;
    min-height: 400px;

    div[data-fields="street1"] {
      margin: 20px 0;
    }
    div[data-fields="postalCode"] {
      margin: 20px 0;
      width: 135px;
    }

    img.upload_cover_photo {
      width: 40%;
      margin-top: 30px;
    }

    .property-address {
      margin: 0;
    }

    input.button {
      float: right;
      margin-top: 30px;
    }

    input[placeholder] {
      font-size: 28px;
      font-style: normal;
      padding-left: 0;
    }
    input[type="text"] {
      width: 91%;
    }

    input[type="text"]#zipcode {
      width: 150px;
    }

    .create-prop {
      float: right;
      margin-bottom: 15px;
    }

    .tip {
      clear: both;
      margin-left: -35px;
      padding-top: 55px;
      width: 100%;

      span.icon-tip {
        margin-top: 10px;
        margin-left: 17px;
        height: 105px;
      }

      h6 {
        width: 106%;
        color: #fff;
        height: 105px;
        padding: 5px;
        // padding-left: 50px;
        text-align: justify;
      }
    }
  }

  
}

.new_prop_images {
  margin-bottom: 30px;

  img.upload_img {
    width: 140px;
    margin-bottom: 10px;
  }

  img {
    width: 210px;
  }

  .upload_image {
    margin-top: 25px;
    text-align: center;

    p {

      font-size: 12px;
    }
  }

  #multifiles.files {
    .large-3.columns.end {
      margin-bottom: 20px;
    }
  }
}


.upload-video-hide {
  display: none;
}
#property-progres-bar{
  height: 50px;
  display: none;
}
.prop-multy-photo, .prop-cover-photo, .prop-video-photo{
  border: 1px solid #008cba;
  border-radius: 20px;
}
.sign {
  margin-left: 44%;
  text-transform: uppercase;
  margin-top: -2%;
//  position: absolute;
//  top: 15%;
//  right: 50%;
  color: #000000;
}
#prop-cover-photo{
  height: 50px;
  background: #F5F5F5;

  position: relative;
  z-index: 5;
}
#prop-multy-photo{

  height: 50px;
  background: #F5F5F5;
  position: relative;
  z-index: 4;
  margin-top: -50px;
}
#prop-video-photo{
  height: 50px;
  background: #F5F5F5;
  position: relative;
  z-index: 3;
  margin-top: -50px;
}

#prop-cover-progress, #prop-video-progress,  #prop-multy-progress{
  width: 0;
  background: #008cba;
  height: 29px;
  border-radius: 20px;

}

video{
  width: 250px;
}
#video{

  float: left;
  display: inline-block;
}
.new_delete_video{
  width: 156px;
  display: none;
  cursor: pointer;
}
label.multiple_images_upload{
  width: 40px;
  display: inline;
  img{
    width: 137px;
  }
}
img.delete-multy-item{
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  cursor: pointer;
  opacity: 0.6;
  height: 46px;
  width: 46px;
}

img.delete-multy-item:hover {
  opacity: 1;
}
#video_view {
  display: none;
  video {
    width: 600px;
  }
}
.close_video {
  padding: 3px;
  color: #ffffff;
  background: black;
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  z-index: 22224;
  margin: auto;
  left: 47%;
  top: -62%;
  bottom: 0;
  right: 0;
}
.video_view_in {
  position: fixed;
  z-index: 22223;
  background: black;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
#close_video {
  width: 20px;
  height: 20px;
  background: #808080;
  position: absolute;
  left: 74.2%;
  top: 15%;
  z-index: 101;
}

#property_gallery {
  position: relative;
  // width: 100%;
  height: 130px;
  background-color: #f5f5f5;
  overflow: hidden;

  button {
    position: absolute;
    z-index: 2;
    top: 0;
    width: 40px;
    background-color: rgba(0,0,0,0.5);
    height: 130px;
    font-size: 40px;
    padding-left: 25px;
  }

  button.prev {
    left: 0;
  }

  button.next {
    right: 0;
  }

  button:hover {
    background-color: rgba(0,0,0,0.7)
  }

  ul#gallery_items {
    width: 100%;
    list-style-type: none;
    text-align: center;
    li {
      display: inline-block;
      *display: inline; /* IE7 hack */
      *zoom: 1; /* IE7 hack */
      
    }
    img {
      width: 200px;
      height: 130px;
      cursor: pointer;
    }
    
    img:hover {
      opacity: 0.9;
    }
  }
}

#full_size_img{
  position: fixed; 
  width: 100%; 
  height: 100%; 
  top: 0px; 
  left: 0px; 
  background-color: rgba(0,0,0,0.6); 
  display: none;
  z-index: 22223;
  img{
    position: fixed; 
    max-width: 820px;
    height: 640px;
    width: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    z-index: 22224;
  }   


}

