#auth-page
  %form.login{"data-remote" => "true"}
    %a{href: "/landing"}
      %img{src: 'assets/realync-logo.png'}
    %h5.help-text-reset-confirm
      Simply enter your new password and we'll get you back to your tours!
    .user-api-errors
    %input#newPassword{ type: 'password', placeholder: 'New password'}
    %input#confirmPassword{ type: 'password', placeholder: 'Confirm password'}
    %input#confirmReset.button.submit{type: "submit", value: 'Save new password' }
