#auth-page
  .row
    .large-3.columns
      &nbsp
    .large-5.columns
      #payment-form
    .large-4.columns
      .sub-type
        You have selected a
        %h3
          Sub type here!
        subscription and for that...
      .img-thank-you
        %img{src: 'assets/update_payment/thank_you.png'}
      .payment-icons
        %img{src: 'assets/update_payment/amex.png'}
        %img{src: 'assets/update_payment/discover.png'}
        %img{src: 'assets/update_payment/visa.png'}
        %img{src: 'assets/update_payment/mc.png'}
      .tip
        %span.icon-tip
        %h6
          The 3 digits code located on the
          back of your card or the 4 digit
          code printed on the front of your
          American Express.