.message-wrap
  .message-body
    = @message
  .message-info
    .name
      = @sender[0].name
      - if @sender[0].realtor
        (Agent)
    .time
      = @time 
%img.sender{ src: "#{@sender[0].picURL}" }
