.close_rightbar
  &#10006
.notes-wrap
  .header
    %h4
      Notes
  #notes
  .add-note
    .send_notes
      %input.note{ type: 'text', placeholder: 'Type a note...'}
      %input.send_note.button{ type: 'submit', value:'Add' }