.agent-wrap
  - @profilePicUrl = "http://stage.realync.com/images/noPhoto.jpeg" if @profilePicUrl == "/images/noPhoto.jpeg"
  %img.agent-photo{alt: "", src: "#{@profilePicUrl}"}
  .agent-wrap-head
  .agent-info    
    %h4
      =@name
    %p
      %img.location(src="assets/location-black.png")
      - if  @agentProfile
        = @agentProfile.city + ","
        = @agentProfile.state
    %hr
    .description
      %h6
        - if  @agentProfile
          = @agentProfile.description
    %a.button.expand#message_to_agent{:href => '#'} Message Your Agent
