.message_preview_list_in#content-wrapper
  .row
    .large-12.columns
      .media
        %a.pull-left{href: "javascript:;"}
        %img.round_img.media-object{alt: "", src: "#{@avatar}"}
          =@username
        .time
          4DAYS
        .media-body
          %h4.media-heading            
            %span |
            %span.date 12 July 2013, 10:40
          %p
            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.