.dashboard-tours-in#content-wrapper
  .row
    .large-5.columns
      .image_tours
        - if @property
          %img.media-object{alt: "", src: "#{ @property.mobilePicURL}"}
        - else
          %img.media-object{alt: "", src: "/assets/noPhotoProp.jpg"}
    .large-7.columns
      .date_tours
        %h6.date
          = @word_data
        %h3.hours        
          = @hours
        %h6.date
          = @fullAdress
      .attendees
        .attend_text
          Attendees:
        %div{:id => "#{@id}"}
