.dashboard-tours-in{:class => "#{@id}"}
  .row.large-4.columns
    .tour-container
      .tour-photo
        %img.thumbnail(src="#{@property.mobilePicURL}")
          - if @agent
            .tour-block
              %a.send_message_to_attend{href: "#"}
                %img.special_div(src="assets/message.png")  
              %a.delete_tour{href: "#"}
                %img.special_div(src="assets/delete.png")  
      .past-tour-info
        %div.score
          - for tag in @string_rating
            - if tag == 1
              %span.rated
            - else
              %span
        %h5
          = @address.street1
          %br/
          = @address.city + ','
          = @address.state
          = @address.zip
        %h6.time
          = @word_data
      .action_tour
        %a.button.expand.start_view_tour View Tour

