#content-wrapper
  .tours-head-wrap
    .tours-head
      %h2
        Tours
      .tours-links-center   
        %a.upcoming-tours-link{href: "#!/upcoming"}
          Upcoming
          &nbsp
        &#47;
        %a.past-tours-link{href: "#!/past"}
          &nbsp
          Past
  .clearfix
  #upcoming-tours

