.row.large-4.columns.for_del
  .property-container{ id: "#{@id}"}
    .properties-foto
      %img.thumbnail(src="#{@picURL}")
        .properties-block
          %a.property_item{href: "#"}
            %img.action_div(src="assets/properties/calendar.png")
          %a{href: "#!/property/edit/#{@id}"}
            %img.action_div(src="assets/properties/edit.png")
          %a.delete_property{href: "#"}
            %img.action_div(src="assets/properties/delete.png")
    .properties-info
      %h6
        = @address.street1
        %br/
        = @address.city + ','
        = @address.state
        = @address.zip
    .properties-vote
      .row
        .small-4.columns.vote.border
          %h5
            = @bedroomCount
          Bed
        .small-4.columns.vote.border
          %h5
            = @bathCount
          Bath
        .small-4.columns.vote
          %h5
            = @sqft
          sq feet

    %a.button.expand{:href => '#!/property/#{@id}'} View Property


